<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="inline-block.css">
	<title>Inline-Block</title>
</head>
<body>
	<div class="container">
	<header>
		<h1>This is a header</h1>
	</header>
<section>
	<article>
		<h2>Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.
		</p>
	</article>
	<article>
		<h2>Title</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.</p>
	</article>
	<article>
		<h2>Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.
		</p>
	</article>
	<article>
		<h2>Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.
		</p>
	</article>
	<article>
		<h2>Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.
		</p>
	</article>
	<article>
		<h2>Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.
		</p>
	</article>
	<article>
		<h2>Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.
		</p>
	</article>
	<article>
		<h2>Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.
		</p>
	</article>
	<article>
		<h2>Title</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis eros eu mi pellentesque egestas. Morbi eu pellentesque dui. In hac habitasse platea dictumst. Morbi convallis egestas felis et posuere. Etiam ac tincidunt tortor. Curabitur tempus a est in bibendum. Duis congue urna sodales, pellentesque libero a, condimentum lectus. Integer dignissim sapien urna. Donec pellentesque malesuada vulputate. Donec ut auctor sapien. Mauris consectetur bibendum augue eget laoreet.
		</p>
	</article>
</section>
<footer>
	<p>
		this is a footer
	</p>
</footer>
</div>
</body>