body {
	background: #ccc;
	margin: 0;
	border-top: 5px solid #424242;
	font-family: "helvetica", sans-serif;
	line-height: 1.4em;
}

.container {
	width: 600px;
	margin: 0 auto;
	background: #fff;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	background: #aaa;
	padding: 20px 15px;
	color: #fff;
	text-shadow: 1px 1px 2px #424242;
	font-size: 2em;
}

h3 {
	margin-bottom: 5px;
}

table, tr, td {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table td {
	padding: 5px;
}

#recipes {
	padding: 15px;
}